
body{

  background-color: darkgray;
  border: 1px solid;
  text-align:center;

      header{
        padding: 1%;
        margin: 1% 1% ;
        nav{
          border: 1px solid;
          background-color: gray;


        }


        }

        footer{
          clear:both;

      }

  $defaultHeaderColor: white;

  header{
    border: 1px solid;
    background-color:$defaultHeaderColor;
    margin:1%;

  }

  footer{
    background-color: white;
    border:1px solid;
    margin:1%;
    height: 30px;


  }




$defaultSectionMargin: 0% 1% 1%;

 section{

   border: 1px solid;
   margin:$defaultSectionMargin;
   background-color: lightcyan;
   height: 600px;
 }

div{

  section{
    float:left;
    width: 27%;


      nav{
        border: 1px solid;
        margin: 1%;
        height: 80%;

      }
    }
  }
}


div {


  #rightsection {

    /*display: inline-block;*/
    float: right;
    width: 68%;

    #article1 {

    }

    #article2 {

      p {
        /*display: inline-block;*/
        margin-right: 1px;
        float: left;
        width: 60%;
        padding: 5%;

      }

      aside {
        display: inline-block;
        margin-left: 1%;
        width: 16%;
        padding: 5%;

      }

    }

  }

  @mixin defaultsinsidesectionright {

    margin: 1.5% 1%;
    border: 1px solid;
    clear: both;

  }

  p, aside, article {
    @include defaultsinsidesectionright;
  }




}